/* * {
  color: whitesmoke;
}

.main-container {
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
}

.main-container-left {
  background-color: #CE2D4F;
  color: whitesmoke;
  width: 75%;
  padding: 32px;
}

.main-container-right {
  background-color: #CE6D8B;
  width: 25%;
}

.container-left-year {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-left-week {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 5.35714285714286%;
  padding-right: 7.14285714285714%;
}

.week-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.day {
  height: 60px;
  color: whitesmoke;
}

.container-left-days {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  color: whitesmoke;
}

.week-sun {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.week-mon {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.week-tue {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.week-wed {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.week-thurs {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.week-fri {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.week-sat {
  display: flex;
  flex-direction: column;
  width: 14.28571428571429%;
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
}
.py {
  margin-bottom: 25px;
  width: 14.28571428571429%;
  color: whitesmoke;
}

.py button {
  width: 100%;
  background-color: #CE2D4F;
  border: none;
}

.py button:hover {
  background-color: #4b0018;
}

.year-next {
  margin-bottom: 25px;
  width: 14.28571428571429%;
  color: whitesmoke;
}

.year-next button {
  width: 100%;
  border: none;
  background-color: #CE2D4F;
}

.year-next button:hover {
  background-color: #4b0018;
}

.year-last {
  margin-bottom: 25px;
  width: 14.28571428571429%;
  color: whitesmoke;
}

.year-last button {
  width: 100%;
  border: none;
  background-color: #CE2D4F;
}

.year-last button:hover {
  background-color: #4b0018;
}
 */
